<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/myJs.js}"></script>
</head>
<body>
<h1>Edit Note Type</h1>
<h2><a href="/noteType/">List type Note</a></h2>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/noteType/edit-note-type/}" method="post"  th:object="${noteType}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}"><br>
    Description: <input type="text" th:field="*{description}"><br>
    <input type="submit" value="Edit Note Type">
    <input type="button" value="Delete Note Type" th:onclick="'deleteNoteType('+*{id}+')'">
</form>
</body>
</html>