<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .paging {
            height: 200px;
            margin-left: 100px;
        }

        .paging div {
            margin: 5px 0;
            border: 1px solid red;
            width: 500px;
        }
    </style>
</head>
<body>
<div class="paging">
    <h1><a href="/list">list Note</a></h1>
    <table>
        <tr>
            <td width="300px"><h2><a href="/create-note">Create new Note</a></h2></td>
            <td>
                <form action="">
                    <input type="text" placeholder="Search in title" name="search">
                    <input type="submit" value="Search">
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form>
                    <select name="noteType" onchange="this.form.submit()">
                        <option value="" >Choose Note Type</option>
                        <option th:each="ntype : ${noteTypes}" th:value="${ntype.getId()}"
                                th:text="${ntype.getName()}"></option>
                    </select>
                </form>
            </td>
            <td></td>
        </tr>
    </table>
</div>

<div class="paging">
    <div th:each="n : ${notes}">
        Title: <b><a th:href="@{/detail-note/__${n.id}__}" th:text="${n.getTitle()}"></a></b><br>
        Note type: <b th:text="${n.noteType.getName()}"></b><br>
        <a th:href="@{/edit-note/__${n.getId()}__}">Edit</a>
        <a th:href="@{/delete-note/__${n.getId()}__}" onclick="return confirm('Do you delete Note')">Delete</a>
    </div>
</div>

<div class="paging">
    <span>Trang: </span>
    <span th:each="myPage : ${#numbers.sequence(0, (notes.totalPages)-1)}">
        <a th:href="@{${myUrl}(page=${myPage})}" th:text="${myPage}"
           th:style="${myPage} == ${currentPage}  ? 'font-weight:bold; color:red;' : 'text-decoration:none'"></a>
    </span>
</div>
</body>
</html>